h1 { color:rgb(41, 74, 114); }
h2 { color:rgb(122, 140, 175); }
h3 { color: rgb(27, 23, 139);}
h4 {color:rgb(0, 0, 255);}
h5 {color: rgb(0, 0, 128);}
h6 {color:rgb(84, 79, 84);}
h7 {color: black;}
h8 {color: black;}
h9 {color: black;}
body {
    background-color: rgb(26, 93, 116);
  }
  